# Go
bin/
dist/
build/
*.exe
*.dll
*.so
*.dylib
*.test
coverage.*
*.out

# Генерация
internal/db/sqlc.yml # если приватный
db/migrations/*.sql-journal

# Локальные конфиги
.env
*.local.*
/.idea/
/.vscode/
.DS_Store
/var/
opt/
